.container {
	max-width: 75rem;
	margin: 5rem auto;
	background-color: var(--clr-neutral-300);
	box-shadow: var(--bs-dark);
}

.header {
	height: 4.375rem;
	background-color: var(--clr-neutral-100);
	border-bottom: 1px solid var(--clr-neutral-300);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// parent element of both sidebar and hotel-veiw
.content {
	display: flex;
}

.sidebar {
	background-color: var(--clr-neutral-800);
	flex: 0 0 18%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotel-view {
	background-color: var(--clr-neutral-100);
	flex: 1;
	// height: 75rem; // Only for testing purposes
}
