.container {
	max-width: 75rem;
	margin: 5rem auto;
	background-color: var(--clr-neutral-300);
	box-shadow: var(--bs-dark);
}

.header {
	height: 4.375rem;
	background-color: var(--clr-neutral-100);
	border-bottom: 1px solid var(--clr-neutral-300);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// parent element of both sidebar and hotel-veiw
.content {
	display: flex;
}

.sidebar {
	background-color: var(--clr-neutral-800);
	flex: 0 0 18%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotel-view {
	background-color: var(--clr-neutral-100);
	flex: 1;
	// height: 75rem; // Only for testing purposes
}

.detail {
	display: flex;
	padding: 3rem;
	background-color: var(--clr-neutral-400);
	border-bottom: 1px solid var(--clr-neutral-300);
}

.description {
	font-size: 1rem;
	background-color: var(--clr-neutral-100);
	box-shadow: 0 1.25rem 3rem rgba(var(--clr-neutral-900), 0.1);
	flex: 0 0 60%;
	margin-right: 3rem;
	padding: 2rem;
}

.guest-reviews {
	background-color: mistyrose;
	flex: 1;
}
