.container {
	max-width: 75rem;
	margin: 5rem auto;
	background-color: var(--clr-neutral-300);
	box-shadow: var(--bs-dark);
}

.header {
	height: 4.375rem;
	background-color: var(--clr-neutral-100);
	border-bottom: 1px solid var(--clr-neutral-300);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// parent element of both sidebar and hotel-veiw
.content {
	display: flex;
}

.sidebar {
	background-color: var(--clr-neutral-800);
	flex: 0 0 18%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotel-view {
	background-color: var(--clr-neutral-100);
	flex: 1;
	// height: 75rem; // Only for testing purposes
}

.detail {
	display: flex;
	font-size: 1rem;
	padding: 3rem;
	background-color: var(--clr-neutral-400);
	border-bottom: 1px solid var(--clr-neutral-300);
}

.description {
	background-color: var(--clr-neutral-100);
	box-shadow: 0 1.25rem 3rem rgba(var(--clr-neutral-900), 0.1);
	flex: 0 0 60%;
	margin-right: 3rem;
	padding: 2rem;
}

// Guest reviews
.guest-reviews {
	flex: 1;
}

.review {
	background-color: var(--clr-neutral-100);
	box-shadow: 0 1.25rem 3rem rgba(var(--clr-neutral-900), 0.1);
	padding: 2rem;
	margin-bottom: 2.25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	overflow: hidden;

	&__text {
		margin-bottom: 1rem;
		z-index: 10;
		position: relative;
	}
	&__user {
		display: flex;
		align-items: center;
		justify-items: center;
		justify-content: space-between;
	}
	&__photo {
		height: 2.8rem;
		width: 2.8rem;
		border-radius: 50%;
		margin-right: 1rem;
	}
	&__user-name {
		font-size: 0.8rem;
		text-transform: uppercase;
		font-weight: var(--fw-bold);
	}
	&__user-date {
		font-size: 0.7rem;
		color: var(--clr-neutral-600);
	}
	&__rating {
		color: var(--clr-primary-500);
		font-size: 1.5rem;
	}

	&::before {
		content: "\201C";
		position: absolute;
		top: -1.75rem;
		left: -0.5rem;
		font-size: 12.5rem;
		color: var(--clr-neutral-500);
		font-family: sans-serif;
		line-height: 1;
		z-index: 1;
	}
}

// CTA button
.cta {
	padding: 2.25rem 0;
	text-align: center;

	&__book-now {
		font-size: 1.25rem;
		font-weight: var(--fw-light);
		text-transform: uppercase;
		margin-bottom: 1.5rem;
	}
}

.btn {
	font-size: 1.25rem;
	font-weight: var(--fw-light);
	text-transform: uppercase;
	border-radius: 100px;
	border: none;
	background-image: linear-gradient(
		to right,
		var(--clr-primary-100),
		var(--clr-primary-900)
	);
	color: var(--clr-neutral-100);
	padding: 1rem 2rem;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		background-image: linear-gradient(
			to right,
			var(--clr-primary-900),
			var(--clr-primary-100)
		);
		transform: translateY(-3px);
	}

	&:active {
		transform: translateY(1px);
	}
	&:focus {
		outline: none;
	}
}
